body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

form {
    margin-bottom: 20px;
}

input {
    padding: 10px;
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    background: #f4f4f4;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0,2s ease-in-out, opacity 0,2s ease-in-out;
}

li.added {
    transform: scale(1.0);
}

li.removed {
    opacity: 0;
    transform: translateX(-100%);
}

li button {
    background-color: rgb(193, 236, 247);
}